<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastrar usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="text-center">
    <div>
        <form action="#" th:action="@{/municipio/salvar}" th:object="${form}" method="post">
            <h2 class="h2 mb-3 font-weight-normal">Cadastrar Cidade</h2>
            <span th:if="${error}"  th:text="${error}" style="color: red">Error</span>
            <!--<div>
                <div class="alert alert-danger">Usuário ou senha inválidos.</div>
            </div>-->
            <input name="codigoIBGE" type="text" class="form-control padInput"
                   placeholder="Código IBGE" autofocus="autofocus" required="true" th:field="${form.codigoIBGE}"/>
            <input name="nomeIBGE" type="text" class="form-control padInput"
                   placeholder="Nome IBGE" autofocus="autofocus" required="true" th:field="${form.nomeIBGE}"/>
            <input name="codigoRegiao" type="text" class="form-control padInput"
                   placeholder="Código Região" autofocus="autofocus" required="true" th:field="${form.codigoRegiao}"/>
            <input name="pais" type="text" class="form-control padInput"
                   placeholder="País" autofocus="autofocus" required="true" th:field="${form.pais}"/>
            <select id="pais" th:field="*{sigla}" class="form-control padInput">
                <option value="">Selecione o estado</option>
                <option th:each="u : ${ufs}" th:value="${u.sigla}" th:field="*{sigla}" th:text="${u.sigla}" selected="selected"></option>
            </select>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
        </form>
    </div>
    <div style="margin-left: 50px; height: 100vh; margin-top: 0; margin-top: 280px;">
        <div class="divTable">
            <div class="text-center pad">
                <h2 class="h2 mb-3 font-weight-normal">Lista de Cidades</h2>
            </div>
            <div class="text-center pad">
                <table class="table table-sm form-control">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center pad">Código IBGE</th>
                        <th scope="col" class="text-center pad">Nome IBGE</th>
                        <th scope="col" class="text-center pad">Código Região</th>
                        <th scope="col" class="text-center pad">País</th>
                        <th scope="col" class="text-center pad">Estado</th>
                        <th scope="col" class="text-center pad">UF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "municipio : ${municipios}">
                        <td th:Text = "${municipio.codigoIBGE}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.codigoRegiao}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.nomeIBGE}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.pais}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.unidadeFederativaDTO.nome}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.unidadeFederativaDTO.sigla}" style="LINE-HEIGHT:50px"></td>
                        <td style="LINE-HEIGHT:50px">
                        <td style="LINE-HEIGHT:50px">
                            <a th:href="@{/municipio/alterar/{codigoibge}(codigoibge=${municipio.codigoIBGE})}" class="btn btn-primary">Alterar</a>
                            <a th:href="@{/municipio/deletar/{codigoibge}(codigoibge=${municipio.codigoIBGE})}" class="btn btn-danger">Excluir</a>
                        </td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>