<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>

        function limpa_formulário_cep() {
                //Limpa valores do formulário de cep.
                document.getElementById('rua').value=("");
                document.getElementById('bairro').value=("");
                document.getElementById('cidade').value=("");
                document.getElementById('uf').value=("");
                document.getElementById('ibge').value=("");
        }

        function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('uf').value=(conteudo.uf);
            document.getElementById('ibge').value=(conteudo.ibge);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('cidade').value="...";
                document.getElementById('uf').value="...";
                document.getElementById('ibge').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastrar usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body class="text-center">
    <div>
        <form action="#" th:action="@{/municipio/salvar}" th:object="${form}" method="post">
            <span th:if="${error}"  th:text="${error}" style="color: red">Error</span>
            <h2 class="h2 mb-3 font-weight-normal">Cadastrar Cidade</h2>
            <!--<div>
                <div class="alert alert-danger">Usuário ou senha inválidos.</div>
            </div>-->
            <input id="cep" name="codigoIBGE" type="text" class="form-control padInput" onblur="pesquisacep(this.value);"
                   placeholder="Código IBGE" autofocus="autofocus" required="true" th:field="${form.codigoIBGE}"/>
            <input id="ibge" name="codigoIBGE" type="text" class="form-control padInput"
                   placeholder="Código IBGE" autofocus="autofocus" required="true" th:field="${form.codigoIBGE}"/>
            <input id="cidade" name="nomeIBGE" type="text" class="form-control padInput"
                   placeholder="Nome IBGE" autofocus="autofocus" required="true" th:field="${form.nomeIBGE}"/>
            <input name="codigoRegiao" type="text" class="form-control padInput"
                   placeholder="Código Região" autofocus="autofocus" required="true" th:field="${form.codigoRegiao}"/>
            <input  name="pais" type="text" class="form-control padInput"
                   placeholder="País" autofocus="autofocus" required="true" th:field="${form.pais}"/>
            <select id="uf" th:field="*{codigoUF}" class="form-control padInput">
                <option value="">Selecione o estado</option>
                <option th:each="u : ${ufs}" th:value="${u.codigoUF}" th:field="*{codigoUF}" th:text="${u.sigla}" selected="selected"></option>
            </select>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
        </form>
    </div>
    <div style="margin-left: 50px; height: 100vh; margin-top: 0; margin-top: 280px;">
        <div class="divTable">
            <div class="text-center pad">
                <h2 class="h2 mb-3 font-weight-normal">Lista de Cidades</h2>
            </div>
            <div class="text-center pad">
                <table class="table table-sm form-control">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center pad">Código IBGE</th>
                        <th scope="col" class="text-center pad">Nome IBGE</th>
                        <th scope="col" class="text-center pad">Código Região</th>
                        <th scope="col" class="text-center pad">País</th>
                        <th scope="col" class="text-center pad">Estado</th>
                        <th scope="col" class="text-center pad">UF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "municipio : ${municipios}">
                        <td th:Text = "${municipio.codigoIBGE}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.codigoRegiao}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.nomeIBGE}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.pais}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.unidadeFederativaDTO.nome}" style="LINE-HEIGHT:50px"></td>
                        <td th:Text = "${municipio.unidadeFederativaDTO.sigla}" style="LINE-HEIGHT:50px"></td>
                        <td style="LINE-HEIGHT:50px">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>