body {
    margin: 0;
}

.layoutContainer {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 17% 82%;
    grid-template-rows: 1fr;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-right: 1px solid #888;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, .3), 0 0px 60px 0 rgba(0, 0, 0, .6);
}

.header nav {
    width: 100%;
}

.header nav ul {
    margin: 0;
    padding: 0 1rem;
}

.header li {
    list-style-type: none;
    margin: 1rem 0;
}

.header nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 95%;
    padding: .8rem 1rem;
    font-size: 1.3rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: all .5s;
}

.header nav ul li a:hover {
    color: white;
    font-size: 1.6rem;
    text-shadow: 1px 1px .5rem black, -1px -1px .5rem black, 2px 2px 1rem black;
    box-shadow: inset 0px 0px .3rem 1.1px rgb(0, 0, 0, .45);
}

.icone {
    width: 15px; 
    margin-right: 5px;
    display: inline;
    transition: all .5s;
}

.header nav ul li a:hover .icone {
    width: 20px;
}