<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta do Auxílio Emergencial</title>
    <link href="../../static/css/principal.css" th:href="@{/css/principal.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <section>
        <div class="pesquisa">
            <form action="#" th:action="@{/busca}" th:object="${formAux}" method="post">

                <input name="codigo" type="text" class="form-control padInput"
                       placeholder="Código IBGE" autofocus="autofocus" required="true" th:field="${consulta.codigoIBGE}"/>
                <input name="ano" type="text" class="form-control padInput"
                       placeholder="Nome" autofocus="autofocus" required="true" th:field="${consulta.ano}"/>
                <input name="mes" type="text" class="form-control padInput"
                       placeholder="Nome" autofocus="autofocus" required="true" th:field="${consulta.mes}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Buscar</button>
            </form>
        </div>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <th>Hora</th>
                <th>Código IBGE</th>
                <th>Cidade</th>
                <th>Parcela</th>
                <th>Valor Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "auxilio : ${auxilios}">
                <td th:Text = "${auxilio.dataConsulta}" style="LINE-HEIGHT:50px"></td>
                <td th:Text = "${auxilio.municipio.codigoIBGE}" style="LINE-HEIGHT:50px"></td>
                <td th:Text = "${auxilio.municipio.nomeIBGE}" style="LINE-HEIGHT:50px"></td>
                <td th:Text = "${auxilio.numeroParcela}" style="LINE-HEIGHT:50px"></td>
                <td th:Text = "${auxilio.valor}" style="LINE-HEIGHT:50px"></td>

            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>